*, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box;}
body {background: #03e9fe; color: #B9B5C7; font: 14px Arial, Helvetica, sans-serif;}

h1 {padding: 100px 0; font-weight: 400; text-align: center;}
p {margin: 0 0 20px; line-height: 1.5;}

.main {margin: 0 auto; min-width: 320px; max-width: 100%;text-align:left;}
.content {background: #fff; color: #f9f902;text-align:left;}
.content > div {display: none; padding: 5px 5px 5px;}

input {display: none;}
label {display: inline-block; padding: 15px 25px; 
  font-weight: 600; text-align: center;border-left: 4px solid yellow;border-right: 2px solid rgb(126, 128, 0);
  border-top: 4px solid orange;border-top-left-radius: 14px;border-top-right-radius: 14px;
  background-color: #1703f9;}
label:hover {color: #fff; cursor: pointer;background-color: darkcyan;}
input:checked + label {background: #ed5a6a; color: #fff;}

#tab_ABOUT:checked ~ .content #content_ABOUT,
#tab_MOD:checked ~ .content #content_MOD,
#tab_Blender:checked ~ .content #content_Blender,
#tab_Planner:checked ~ .content #content_Planner {
  display: block;
}

@media screen and (max-width: 1000px) { label {padding: 15px 10px;} }
